# üìò Introdu√ß√£o ao Pandas
üìÖ Objetivo: Aprender os conceitos b√°sicos do Pandas, incluindo cria√ß√£o e manipula√ß√£o de DataFrame e Series.

## üõ† 1. Instalando e Importando Pandas

In [ ]:

# Importando a biblioteca
import pandas as pd

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.12.9/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.9/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 12.7/12.7 MB 167.0 MB/s eta 0:00:00
Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 16.1/16.1 MB 183.1 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

## üìä 2. Criando um DataFrame

### 2.1 Criando manualmente

In [2]:

# Criando um DataFrame a partir de um dicion√°rio
data = {
    "Nome": ["Alice", "Bob", "Carlos"],
    "Idade": [25, 30, 35],
    "Cidade": ["S√£o Paulo", "Rio de Janeiro", "Curitiba"]
}

df = pd.DataFrame(data)
df

     Nome  Idade          Cidade
0   Alice     25       S√£o Paulo
1     Bob     30  Rio de Janeiro
2  Carlos     35        Curitiba

### 2.2 Criando a partir de um CSV

In [3]:

# Criando um arquivo CSV fict√≠cio para carregar
df.to_csv("dados.csv", index=False)

# Lendo um arquivo CSV
df_csv = pd.read_csv("dados.csv")
df_csv

     Nome  Idade          Cidade
0   Alice     25       S√£o Paulo
1     Bob     30  Rio de Janeiro
2  Carlos     35        Curitiba

## üîç 3. Explorando os Dados

In [4]:

# Exibir as primeiras linhas
df.head()

# Verificar informa√ß√µes do DataFrame
df.info()

# Estat√≠sticas descritivas
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    3 non-null      object
 1   Idade   3 non-null      int64
 2   Cidade  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

       Idade
count    3.0
mean    30.0
std      5.0
min     25.0
25%     27.5
50%     30.0
75%     32.5
max     35.0

## üéØ 4. Selecionando e Filtrando Dados

In [5]:

# Selecionar uma coluna
df["Nome"]

# Selecionar v√°rias colunas
df[["Nome", "Idade"]]

# Filtrar dados (pessoas com idade maior que 30)
df[df["Idade"] > 30]

     Nome  Idade    Cidade
2  Carlos     35  Curitiba

## üìù 5. Modificando o DataFrame

In [6]:

# Adicionar uma nova coluna
df["Profiss√£o"] = ["Engenheira", "M√©dico", "Professor"]
df

# Renomear colunas
df.rename(columns={"Nome": "Nome Completo"}, inplace=True)

# Remover uma coluna
df.drop(columns=["Profiss√£o"], inplace=True)
df

  Nome Completo  Idade          Cidade
0         Alice     25       S√£o Paulo
1           Bob     30  Rio de Janeiro
2        Carlos     35        Curitiba

## üìå Conclus√£o


‚úÖ Voc√™ aprendeu:
- Como criar e carregar DataFrames
- Como explorar, filtrar e modificar dados

üìÇ Pr√≥ximos Passos:
‚û°Ô∏è 02_manipulacao.ipynb para manipula√ß√£o avan√ßada de dados! üöÄ